<% include partials/header %>
<div class="container">
    <header class = "jumbotron">
        <h1 class="display-4 my-4"><b>Showing all the camps!</b></h1>
        <p class="lead">Each camp has a theatrical name.</p>
        <p>
            <a href="/camps/new" class="btn btn-info">To add new Camp!</a>
        </p>
    </header>
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <% varCamps.forEach(function(camps){ %>
            <div class="col-sm-6 col-md-3">
                <div class="img-thumbnail">
                    <img src = "<%= camps.img %>" class="img-thumbnail" style="border: 0px !important;">
                    <div class="caption"><h4><%= camps.name %></h4></div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>